{% extends "base.html" %}

{% block title %}
<title>about us</title>
{% endblock %}


{% block content %}
<div class="about" style="background-color:rgb(234, 234, 153); color: black; padding-top:10vh;">
    <h1>This is about us!</h1>

    <h1>Welcome!💐</h1>

    <p>First of all a very welcome❤️ from us, you <br> came to us that is very deligthful for us so <br> we have maintained the price💸 of every menu <br>items on a very reasonable price so that anyone<br> can enjoy this type of premium stuffs, so if you are<br> sitting in our <span style="font-weigth: bold; color: orangered;">🍕'K-Foods'</span> restaurent so don't worry about <br>the bill💸 just enjoy🍔 and pay! </p>
</div>
{% endblock %}