{% extends "base.html" %}

{% block title %}
<title>Add Menu</title>
{% endblock %}

{% block content %}
<div class="menu" style="background-color:rgb(234, 234, 153); color: black; padding-top:10vh;">
    <form action="" method="post" style="border: 2px solid burlywood; height: 40%; width: 20%; padding-top: 5%; margin-top: 5%; text-align:center;">
        {% csrf_token %}

     {{form}}
     
     <button type="submit" style="height: 2rem; width: 7rem; border:1px solid whitesmoke; border-radius: 2vh; margin-top: 20%; cursor: pointer;">Add Menu</button>
    </form>
</div>
{% endblock %}